<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myservice.mapper.AncMapper">

    <select id="select" parameterType="Integer" resultType="Anc">
        SELECT id, writer, title, contents, img, rdate
        FROM anc
        WHERE id=#{id}
    </select>
    <select id="selectall" resultType="anc">
        SELECT id, writer, title, contents, img, rdate
        FROM anc
    </select>

    <insert id="insert" parameterType="anc">
        INSERT INTO anc (id, writer, title, contents, img, rdate)
        VALUES (anc_seq.NEXTVAL,#{writer},#{title},#{contents},#{img},TO_CHAR(SYSDATE,'yyyy-MM-dd'))
    </insert>

    <update id="update" parameterType="anc">
        UPDATE anc
        SET title=#{title}, contents=#{contents}, img=#{img}
        WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE
        FROM anc
        WHERE id=#{id}
    </delete>

    <select id="getpage" resultType="anc">
        SELECT * FROM anc ORDER BY id DESC
    </select>

    <select id="getfindpage" resultType="anc" parameterType="search">
        SELECT *
        FROM anc
        WHERE 1=1
        <if test="keyword == 'title'">
            AND title LIKE '%' ||  #{search} || '%'
        </if>
        <if test="keyword == 'contents'">
            AND contents LIKE '%' ||  #{search} || '%'
        </if>
        ORDER BY id DESC
    </select>
    <select id="getTotalCount" resultType="Integer" >
        SELECT COUNT(*) AS cnt
        FROM anc
    </select>
</mapper>