<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myservice.mapper.CpnMapper">

    <select id="select" parameterType="Integer" resultType="Cpn">
        SELECT *
        FROM cpn
        WHERE id=#{id}
    </select>

    <select id="getMyCpn" parameterType="String" resultType="Cpn">
        SELECT *
        FROM cpn
        WHERE stdn_id=#{stdnId}
    </select>

    <select id="selectall" resultType="Cpn">
        SELECT *
        FROM cpn
    </select>

    <insert id="insert" parameterType="Cpn">
        INSERT INTO cpn (id, stdn_id, give_date, valid_date, is_used)
        VALUES (cpn_seq.NEXTVAL,#{stdnId},TO_CHAR(SYSDATE,'yyyy.MM.dd'),#{validDate},'0')
    </insert>

    <update id="update" parameterType="Cpn">
        UPDATE cpn
        SET is_used=#{isUsed}
        WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE
        FROM cpn
        WHERE id=#{id}
    </delete>


</mapper>