<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myservice.mapper.CurriMapper">

    <select id="thisCurri" parameterType="map" resultType="Curri">
        SELECT c.id, c.stdn_id AS stdnId, c.lec_id AS lecId, c.rdate, c.is_open AS isOpen
             , s.name AS stdnName, l.title As lecTitle
             , l.topic AS lecTopic, l.price AS lecPrice
             , l.target AS lecTarget, l.img AS lecImg
        FROM curri c, stdn s, lec l
        WHERE c.stdn_id = s.id
          AND c.lec_id = l.id
          AND c.lec_id = #{lecId}
          AND c.stdn_id = #{stdnId}
    </select>

    <select id="select" parameterType="Integer" resultType="Curri">
        SELECT c.id, c.stdn_id AS stdnId, c.lec_id AS lecId, c.rdate, c.is_open AS isOpen
             , s.name AS stdnName, l.title As lecTitle
             , l.topic AS lecTopic, l.price AS lecPrice
             , l.target AS lecTarget, l.img AS lecImg
        FROM curri c, stdn s, lec l
        WHERE c.stdn_id = s.id
          AND c.lec_id = l.id
          AND c.is_open ='1'
          AND c.id = #{id}
    </select>
    <select id="getMyCurri" parameterType="Integer" resultType="Curri">
        SELECT c.id, c.stdn_id AS stdnId, c.lec_id AS lecId, c.rdate, c.is_open AS isOpen
             , s.name AS stdnName, l.title As lecTitle
             , l.topic AS lecTopic, l.price AS lecPrice
             , l.target AS lecTarget, l.img AS lecImg
        FROM curri c, stdn s, lec l
        WHERE c.stdn_id = s.id
          AND c.lec_id = l.id
          AND c.id = #{id}
    </select>

    <select id="getMyCurris" parameterType="String" resultType="Curri">
        SELECT c.id, c.stdn_id AS stdnId, c.lec_id AS lecId, c.rdate, c.is_open AS isOpen
             , s.name AS stdnName, l.title As lecTitle
             , l.topic AS lecTopic, l.price AS lecPrice
             , l.target AS lecTarget, l.img AS lecImg
        FROM curri c, stdn s, lec l
        WHERE c.stdn_id = s.id
          AND c.lec_id = l.id
          AND c.stdn_id=#{stdnId}
    </select>


    <select id="cntMyCurri" parameterType="String" resultType="Integer">
        SELECT COUNT(id) AS cnt
        FROM curri
        WHERE stdn_id = #{stdnId}
    </select>

    <select id="selectall" resultType="Curri">
        SELECT c.id, c.stdn_id AS stdnId, c.lec_id AS lecId, c.rdate, c.is_open AS isOpen
             , s.name AS stdnName, l.title As lecTitle
             , l.topic AS lecTopic, l.price AS lecPrice
             , l.target AS lecTarget, l.img AS lecImg
        FROM curri c, stdn s, lec l
        WHERE c.stdn_id = s.id
          AND c.is_open = '1'
          AND c.lec_id = l.id
    </select>

    <insert id="insert" parameterType="Curri">
        INSERT INTO curri (id, stdn_id, lec_id, rdate)
        VALUES (curri_seq.NEXTVAL, #{stdnId}, #{lecId},TO_CHAR(SYSDATE,'yyyy.MM.dd hh24:mi:ss'))
    </insert>

    <update id="update" parameterType="Curri">
        UPDATE curri SET
        is_open=#{isOpen}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE FROM curri WHERE id=#{id}
    </delete>


</mapper>