<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myservice.mapper.LecMapper">

    <select id="select" parameterType="Integer" resultType="Lec">
        SELECT id, adm_id AS admId, lec_code AS lecCode, title, teacher
             , topic, target, rdate, length, rating, price, img
             , disc_rate AS discRate, is_delete AS isDelete
             , del_date AS delDate, hit
        FROM lec
        WHERE id=#{id}
    </select>
    <select id="selectall" resultType="Lec">
        SELECT id, adm_id AS admId, lec_code AS lecCode, title, teacher
             , topic, target, rdate, length, rating, price, img
             , disc_rate AS discRate, is_delete AS isDelete
             , del_date AS delDate, hit
        FROM lec
    </select>
    <insert id="insert" parameterType="Lec">
        INSERT INTO lec (id, adm_id, lec_code, title, teacher, topic, target
                        , rdate, length, rating, price, img, disc_rate, is_delete, del_date, hit)
        VALUES (lec_seq.NEXTVAL, #{admId},#{lecCode}, #{title}, #{teacher}, #{topic}
               , #{target}, TO_CHAR(SYSDATE,'yyyy.MM.dd hh24:mi:ss'), #{length}, 0, #{price}, #{img}, 0
               , '0', null, 0)
    </insert>
    <!--    초기 insert시 별점, 할인률, 삭제여부 0, 삭제날짜 0, 수강생수 0으로 설정함.-->
    <update id="update" parameterType="Lec">
        UPDATE lec
        SET lec_code=#{lecCode}, title=#{title}, teacher=#{teacher}, topic=#{topic}, target=#{target}
          , rdate = TO_CHAR(SYSDATE,'yyyy.MM.dd hh24:mi:ss'), length=#{length}, rating=#{rating}, price=#{price}
          , img=#{img}, disc_rate=#{discRate}, is_delete=#{isDelete}, del_date=#{delDate, jdbcType=NULL}, hit=#{hit}
        WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="Integer">
        DELETE
        FROM lec
        WHERE id=#{id}
    </delete>

    <select id="search" parameterType="LecSearch" resultType="Lec">
        SELECT *
        FROM lec
        <where>
            <if test="topic != null and !topic.equals('')">
                topic = #{topic}
            </if>
            <if test="title != null and !title.equals('')">
                AND title LIKE '%'||#{title}||'%'
            </if>
            <if test="teacher != null and !teacher.equals('')">
                AND teacher LIKE '%'||#{teacher}||'%'
            </if>
            <if test="lowerPrice != null and !lowerPrice.equals('') ">
                AND price &gt; #{lowerPrice}
            </if>
            <if test="upperPrice != null and !upperPrice.equals('') ">
                AND price &lt; #{upperPrice}
            </if>
            <if test="rating != null and !rating.equals('') ">
                AND rating &gt; #{rating}
            </if>
        </where>
    </select>

    <select id="getpage" resultType="lec">
        SELECT id, adm_id AS admId, lec_code AS lecCode, title, teacher
             , topic, target, rdate, length, rating, price, img
             , disc_rate AS discRate, is_delete AS isDelete
             , del_date AS delDate, hit
        FROM lec ORDER BY id DESC
    </select>

</mapper>