<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myservice.mapper.MyPageMapper">
    <select id="select" parameterType="string" resultType="mypage">
        SELECT id, mbti, comdate, digidate, rdate, detail, insta, facebook
        FROM my_page
        WHERE ID=#{id}
    </select>
    <select id="selectall" resultType="mypage">
        SELECT s.id,
               s.name,
               s.email,
               s.contact,
               s.img,
               s.birthday,
               m.mbti,
               m.comdate,
               m.digidate,
               m.rdate,
               m.detail,
               m.insta,
               m.facebook
        FROM stdn s
                 JOIN my_page m ON s.id = m.id
    </select>

    <insert id="insert" parameterType="mypage">
        INSERT INTO my_page (id, mbti, comdate, digidate, rdate, detail, insta, facebook)
        VALUES (#{id}, #{mbti}, #{comdate, jdbcType=DATE}, #{digidate}, TO_CHAR(SYSDATE,'yyyy.MM.dd hh24:mi:ss'), #{detail}, #{insta}, #{facebook})
    </insert>

        <!--stdn본인 수정-->
    <update id="update" parameterType="mypage">
        UPDATE my_page SET mbti=#{mbti}, comdate=#{comdate}
                      , digidate=#{digidate}, detail=#{detail}
                      , insta=#{insta}, facebook=#{facebook}
        WHERE id=#{id}
    </update>

    <select id="getGrade" parameterType="String" resultType="mypage">
        SELECT s.id,
               s.name,
               s.email,
               s.contact,
               s.img,
               s.birthday,
               m.mbti,
               m.comdate,
               m.digidate,
               m.rdate,
               m.detail,
               m.insta,
               m.facebook
        FROM stdn s
                 JOIN my_page m ON s.id = m.id
        WHERE m.digidate = #{digidate}
    </select>
</mapper>