<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myservice.mapper.OrdDetailMapper">

    <select id="getMyOrdDetail" parameterType="String" resultType="OrdDetail">
        SELECT od.id, od.lec_id AS lecId, od.ord_id AS ordId, od.stdy_hour AS stdyHour
             , l.lec_code AS lecCode, l.title AS lecTitle, l.teacher AS lecTeacher
             , l.topic AS lecTopic, l.target AS lecTarget, l.length AS lecLength
             , l.img AS img, o.stdn_id AS stdnId, s.name AS stdnName
        FROM ord_detail od, ord o, lec l, stdn s
        WHERE od.ord_id=o.id
          AND od.lec_id=l.id
          AND o.stdn_id=s.id
          AND o.stdn_id=#{stdnId}
    </select>

    <select id="select" parameterType="Integer" resultType="OrdDetail">
        SELECT od.id, od.lec_id AS lecId, od.ord_id AS ordId, od.stdy_hour AS stdyHour
             , l.lec_code AS lecCode, l.title AS lecTitle, l.teacher AS lecTeacher
             , l.topic AS lecTopic, l.target AS lecTarget, l.length AS lecLength
             , l.img AS img, o.stdn_id AS stdnId, s.name AS stdnName
        FROM ord_detail od, ord o, lec l, stdn s
        WHERE od.ord_id=o.id
          AND od.lec_id=l.id
          AND o.stdn_id=s.id
          AND od.id=#{id}
    </select>

    <select id="selectall" resultType="OrdDetail">
        SELECT od.id, od.lec_id AS lecId, od.ord_id AS ordId, od.stdy_hour AS stdyHour
             , l.lec_code AS lecCode, l.title AS lecTitle, l.teacher AS lecTeacher
             , l.topic AS lecTopic, l.target AS lecTarget, l.length AS lecLength
             , l.img AS img, o.stdn_id AS stdnId, s.name AS stdnName
        FROM ord_detail od, ord o, lec l, stdn s
        WHERE od.ord_id=o.id
          AND od.lec_id=l.id
          AND o.stdn_id=s.id
    </select>

    <insert id="insert" parameterType="OrdDetail">
        INSERT INTO ord_detail (id, lec_id, ord_id, stdy_hour)
        VALUES (ord_detail_seq.NEXTVAL,#{lecId}, #{ordId},'0')
    </insert>

    <update id="update" parameterType="OrdDetail">
        UPDATE ord_detail
        SET stdy_hour=#{stdyHour}
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE
        FROM ord_detail
        WHERE id=#{id}
    </delete>

</mapper>