<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myservice.mapper.OrdMapper">
    <select id="getLastOrdId" resultType="Integer">
        SELECT ord_seq.CURRVAL FROM dual
    </select>

    <select id="getMyOrd" parameterType="String" resultType="Ord">
        SELECT o.id, o.stdn_id AS stdnId, o.rdate, o.is_done AS isDone
             , o.ord_price AS ordPrice, o.pay_method AS payMethod
             , o.upd_date AS updDate, o.use_cpn AS useCpn, COUNT(od.id) AS cnt
        FROM ord o
                 LEFT JOIN ord_detail od ON o.id = od.ord_id
        WHERE o.stdn_id = #{stdnId}
        GROUP BY o.id, o.stdn_id, o.rdate, o.is_done, o.ord_price, o.pay_method, o.upd_date, o.use_cpn
        ORDER BY o.id DESC
    </select>


    <select id="select" parameterType="Integer" resultType="Ord">
        SELECT id, stdn_id AS stdnId, rdate, is_done AS isDone
             , ord_price AS ordPrice, pay_method AS payMethod
             , upd_date AS updDate, use_cpn AS useCpn
        FROM ord
        WHERE id=#{id}
    </select>

    <select id="selectall" resultType="Ord">
        SELECT id, stdn_id AS stdnId, rdate, is_done AS isDone
             , ord_price AS ordPrice, pay_method AS payMethod
             , upd_date AS updDate, use_cpn AS useCpn
        FROM ord
    </select>

    <insert id="insert" parameterType="Ord">
        INSERT INTO ord (id, stdn_id, rdate, is_done, ord_price, pay_method, use_cpn)
        VALUES (ord_seq.NEXTVAL,#{stdnId}, TO_CHAR(SYSDATE,'yyyy.MM.dd hh24:mi:ss'),'1',#{ordPrice},#{payMethod},#{useCpn})
    </insert>

    <update id="update" parameterType="Ord">
        UPDATE ord
        SET is_done='0', upd_date=TO_CHAR(SYSDATE,'yyyy.MM.dd hh24:mi:ss')
        WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="Integer">
        DELETE
        FROM ord
        WHERE id=#{id}
    </delete>



</mapper>